<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="viewport" content="width=device-width,initial-scal=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IctBus</title>
    <link rel="stylesheet" href="../static/normalize.css">
    <link rel="stylesheet" href="../static/timetable.css">

    <script type="text/javascript" src="test.js"></script>
    <script type="text/javascript"src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/jonthornton/jquery-timepicker/3e0b283a/jquery.timepicker.min.js"></script>


</head>
<body>
<p>時刻表</p>
<table>
<thead>
<th>千歳駅</th><th>南千歳駅</th><th>実験棟</th><th>本部棟</th>
</thead>
<tr th:each="ri:${atimetable}">
    <td>[[${ri.chitose}]]</td><td>[[${ri.minamichitose}]]</td><td>[[${ri.kenkyutou}]]</td><td>[[${ri.honbutou}]]</td>
</tr>
</table>
</body>
</body>
</html>