<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="viewport" content="width=device-width,initial-scal=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IctBus</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="timetable.css">

    <script type="text/javascript" src="test.js"></script>
    <script type="text/javascript"src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/jonthornton/jquery-timepicker/3e0b283a/jquery.timepicker.min.js"></script>


</head>
<body>
<p>時刻表</p>
<ul th:each="ri:${atimetable}">
    <li>[[${ri.chitose}]]--[[${ri.minamichitose}]]--[[${ri.kenkyutou}]]--[[${ri.honbutou}]]</li>
</ul>
</body>
</body>
</html>